.loginbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 500px;
  height: 600px;

  border-radius: 20px;

  background-color: main.$color-primary;

  &__title {
    margin-top: 80px;
    font-size: 2.5rem;
    font-weight: 700;
    color: main.$color-text-white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 70px;
    gap: 10px;

    &__input {
      width: 70%;
      padding: 12px 20px;
      border: none;
      outline: none;
      border-radius: 10px;

      background-color: main.$color-background;
    }

    &__saveid {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 70%;
      padding-left: 5px;

      cursor: pointer;

      input[type="checkbox"] {
        display: none;
      }

      &__box {
        width: 15px;
        height: 15px;
        border: 2px solid #888;
        border-radius: 4px;
        position: relative;
        margin-right: 4px;
        background-color: white;
        transition: all 0.2s ease;

        &::after {
          content: "";
          position: absolute;
          width: 4px;
          height: 9px;
          border: solid white;
          border-width: 0 2px 2px 0;
          top: -1px;
          left: 2px;
          transform: rotate(45deg);
          opacity: 0;
        }
      }

      input[type="checkbox"]:checked + &__box {
        background-color: main.$color-button;
        border-color: main.$color-button;

        &::after {
          opacity: 1;
        }
      }

      &__text {
        font-weight: 300;
        font-size: 0.8rem;
        color: main.$color-text-white;
      }
    }

    &__button {
      width: 70%;
      height: 50px;

      margin-top: 60px;

      border: none;
      outline: none;

      border-radius: 10px;

      background-color: main.$color-button;
      color: main.$color-text-white;

      &:hover {
        filter: brightness(0.8);
      }

      &:focus {
        border: 1px solid main.$color-border-white;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

    margin-top: 10px;

    &__link {
      color: main.$color-text-white;
      font-size: 0.8rem;
      font-weight: 300;

      &:visited {
        color: main.$color-text-white;
      }
    }
  }
}
