.layoutwrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  width: 100%;
  height: 100vh;

  background-color: main.$color-background;

  &__default {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    background-color: main.$color-background;
    width: 100%;
    height: calc(100vh - 70px);
  }

  &__sidemenu {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;
    right: 0;

    background-color: main.$color-background;
    width: calc(100% - 230px);
    height: calc(100vh - 70px);
  }
}
