.layoutwrapper {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  width: 100%;
  height: 100%;

  background-color: main.$color-background;

  &__default {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: main.$color-background;
    width: 100%;
    height: calc(100% - 70px);
  }

  &__sidemenu {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: main.$color-background;
    width: 100%;
    height: calc(100% - 70px);
  }
}

@media screen and (max-width: 480px) {
  .layoutwrapper {
    min-width: 480px;
    &__default {
      flex-direction: column;
    }
    &__sidemenu {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 768px) {
  .layoutwrapper {
    min-width: 768px;
    &__default {
      flex-direction: column;
    }
    &__sidemenu {
      flex-direction: column;
    }
  }
}
