.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  width: 100%;
  height: 100%;

  padding: 20px;

  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-width: 360px;
    height: 72px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    background-color: main.$color-background-white;
    border-radius: 12px;

    transition: width 0.4s ease-in-out;
    padding: 0 24px;
    gap: 16px;

    &__date {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 50%;
      text-wrap: nowrap;
      font-size: 1rem;

      gap: 10px;

      .dateRangeDisplay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        background-color: main.$color-background;
        height: 40px;
        padding: 8px 16px;
        gap: 10px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid main.$color-border-gray;
        cursor: pointer;
        font-size: 1rem;
      }

      .dateRangeText {
        font-size: 1rem;
        font-weight: 500;
        width: 90%;
        color: main.$color-text-black;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .placeholderText {
        font-size: 1rem;
        color: main.$color-text-gray;
      }

      .datePickerButton {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        height: 95%;
        width: 100%;
        right: 0;
        background-color: transparent;
        color: main.$color-text-black;
        border: none;
        padding: 8px 12px;

        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;

        &:hover {
          outline: 2px solid main.$color-border-black;
        }
      }

      &__calendar {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: main.$color-background-box;
        z-index: 10;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
        border: 1px solid main.$color-border-gray;
      }
    }

    &__type {
      display: flex;
      align-items: center;
      justify-content: center;
      text-wrap: nowrap;
      width: 30%;
      min-width: 120px;
      height: 40px;

      gap: 10px;
      font-size: 1rem;

      &__select {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 0 8px;
        border: none;
        outline: none;
        background-color: main.$color-background;
        font-size: 1rem;
        border: 1px solid main.$color-border-gray;

        & > option {
          border-radius: 15px;
          font-size: 1rem;
          border: none;
          outline: none;
        }
      }
    }
  }

  &__notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px;

    margin-top: 20px;
    padding: 0 20px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    width: 100%;
    height: 480px;
    margin-top: 20px;
    padding: 0 20px;
    gap: 12px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
      background-color: main.$color-background-box;
      border-radius: 10px;
      font-size: 1rem;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;

    margin-top: 20px;
    width: 100%;
    height: 50px;
    gap: 5px;

    .pageItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      border: none;
      background-color: main.$color-background;
      color: main.$color-text-black;
      text-decoration: none;
      transition: all 0.2s ease;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: #dbdbdb;
      }

      &.active {
        background-color: main.$color-button;
        color: main.$color-text-white;
      }

      &.disabled {
        color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    position: absolute;

    top: 650px;
    right: 20px;
  }
}

.modalwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__video {
    width: 100%;
    height: 90%;
    margin-top: 20px;
    background-color: #000;
    &__player {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 100%;

    &__circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid main.$color-border-gray;
      background-color: #000000;
    }

    &__text {
      padding: 8px 0 8px 12px;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;
  margin-top: 20px;
  width: 100%;
}

:global {
  .rdp-day.rdp-today {
    font-weight: 700;
  }

  .rdp-range_start .rdp-day_button,
  .rdp-range_end .rdp-day_button {
    background-color: main.$color-button;
    border: none;
  }

  /* 월 이동 버튼 (이전/다음) */
  .rdp-button_previous,
  .rdp-button_next {
    background-color: main.$color-background-box !important;
    border: none !important;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s;
    svg {
      fill: main.$color-button !important; // 버튼의 색상
    }
  }

  .rdp-today:not(.rdp-outside) {
    color: main.$color-secondary;
  }

  .rdp-button_previous:hover,
  .rdp-button_next:hover {
    filter: brightness(0.9);
  }
}

@media screen and (max-width: 768px) {
  .mainpage {
    &__filter {
      display: grid;
      align-content: center;
      justify-content: center;
      grid-template-columns: 8fr 2fr;
      grid-template-areas:
        'date date'
        'type search';

      gap: 10px;
      height: 120px;
      position: relative;

      &__date {
        width: 100%;
        grid-area: date;
      }

      &__type {
        width: 100%;
        grid-area: type;
      }

      &__search {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        grid-area: search;
      }
    }
  }
}
