.mainpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  width: 100%;
  min-width: 850px;
  max-width: 1920px;
  height: 100%;
  min-height: 700px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 120px;

    margin-top: 20px;
    padding: 0 20px;
    gap: 20px;

    &__filter {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 3;
      height: 100%;
      // background-color: main.$color-background-card;

      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
      border-radius: 10px;

      gap: 20px;

      &__title {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.6rem;
      }

      &__date {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        text-wrap: nowrap;
        font-size: 1rem;
        margin-top: 15px;

        gap: 10px;

        .dateRangeDisplay {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          background-color: main.$color-background;
          height: 40px;
          padding: 8px 16px;
          gap: 10px;
          min-width: 270px;
          border-radius: 5px;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
          cursor: pointer;
          font-size: 1rem;
        }

        .dateRangeText {
          font-size: 1rem;
          font-weight: 500;
          color: main.$color-text-black;
        }

        .placeholderText {
          font-size: 1rem;
          color: main.$color-text-gray;
        }

        .datePickerButton {
          position: absolute;
          right: 0;
          background-color: main.$color-background;
          color: main.$color-text-black;
          border: none;
          padding: 8px 12px;

          border-radius: 5px;
          cursor: pointer;
          font-size: 1rem;
          transition: background-color 0.3s;

          &:hover {
            filter: brightness(0.9);
          }
        }

        &__calendar {
          position: absolute;
          top: calc(100% + 10px);
          left: 0;
          background-color: main.$color-background;
          z-index: 10;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        }
      }

      &__category {
        display: flex;
        align-items: center;
        justify-content: center;
        text-wrap: nowrap;
        height: 40px;
        margin-top: 15px;

        gap: 10px;
        font-size: 1rem;

        &__select {
          width: 200px;
          height: 100%;
          padding: 8px 16px;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: main.$color-background;
          font-size: 1rem;
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);

          option {
            font-size: 1rem;
            border: none;
            outline: none;
          }

          &:focus {
            border: none;
          }
        }
      }

      &__search {
        margin-top: 15px;
      }
    }

    &__types {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 1;
      height: 100%;

      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
      // background-color: main.$color-background-card;
      border-radius: 10px;

      &__title {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.6rem;
        text-wrap: nowrap;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px;
        margin-top: 20px;

        .first,
        .second {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8rem;
          gap: 5px;

          div {
            background-color: main.$color-accent;
            border-radius: 5px;
            padding: 8px 12px;
          }

          .thief {
            background-color: main.$color-thief;
          }
          .break {
            background-color: main.$color-break;
          }
          .assault {
            background-color: main.$color-assault;
          }
          .falling {
            background-color: main.$color-falling;
          }
          .arson {
            background-color: main.$color-arson;
          }
          .smoke {
            background-color: main.$color-smoke;
          }
          .abandon {
            background-color: main.$color-abandon;
          }
        }
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    width: 100%;
    height: 480px;
    margin-top: 20px;
    padding: 0 20px;
    gap: 12px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
      // background-color: main.$color-background-card;
      border-radius: 10px;
      font-size: 1rem;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0 20px;

    width: 100%;
    height: 50px;
    bottom: 10px;
    gap: 5px;

    .pageItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      border: none;
      background-color: main.$color-background;
      color: main.$color-text-black;
      text-decoration: none;
      transition: all 0.2s ease;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: #dbdbdb;
      }

      &.active {
        background-color: main.$color-button;
        color: main.$color-text-white;
      }

      &.disabled {
        color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    position: absolute;

    bottom: 20px;
    right: 20px;
  }
}
