.findpasswordbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 500px;
  height: 600px;

  border-radius: 20px;

  background-color: main.$color-primary;

  &__title {
    margin-top: 80px;
    font-size: 2.5rem;
    font-weight: 700;
    color: main.$color-text-white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 100px;
    gap: 10px;

    &__input {
      width: 70%;
      padding: 12px 20px;
      border: none;
      outline: none;
      border-radius: 10px;

      background-color: main.$color-background;
    }

    &__button {
      width: 70%;
      height: 50px;

      margin-top: 170px;

      border: none;
      outline: none;

      border-radius: 10px;

      background-color: main.$color-button;
      color: main.$color-text-white;

      &:hover {
        filter: brightness(0.8);
        font-weight: 600;
      }

      &:focus {
        border: 1px solid main.$color-border-white;
      }
    }
  }
}
