.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 80px;
  border-bottom: 1px solid main.$color-border-lightgray;
  background-color: main.$color-background;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 15px;

    cursor: pointer;

    &__image {
      display: flex;
      height: 50%;
    }
  }

  &__menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;

    height: 100%;
    gap: 40px;

    &__item {
      & > a {
        position: relative;
        top: -2px;
        padding: 6px 0;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        color: main.$color-text-black;

        text-overflow: clip;
        white-space: nowrap;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -1px;
          width: 0;
          height: 2px;
          background-color: main.$color-text-black;
          transition: width 0.2s ease;
          transform-origin: center center;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }

      &.active {
        & > a {
          color: main.$color-primary;

          &::after {
            width: 100%;
            background-color: main.$color-primary;
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      border: none;
      color: main.$color-text-black;
    }
  }

  &__logout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 15px;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 60px;
      height: 25px;

      font-size: 0.6rem;
      font-weight: 400;

      background-color: main.$color-background;

      border: 1px solid main.$color-border-gray;
      border-radius: 50px;
      gap: 2px;

      cursor: pointer;

      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        scale: 0.97;
      }

      span {
        color: main.$color-text-black;
        font-weight: 500;
      }
    }
  }

  &__hamburger {
    display: none;
    position: relative;
    width: 22px;
    height: 25px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 101; // 메뉴 창보다 위에 있도록
  }

  &__mobileNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    gap: 40px;

    position: fixed; // 화면에 고정
    top: 0;
    right: 0;
    width: 280px; // 메뉴 너비
    height: 100%;
    background-color: main.$color-background;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 100;

    // 평소에는 오른쪽 화면 밖에 위치시킴
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    // 모바일 메뉴 안의 메뉴와 로그아웃 버튼 스타일 재정의
    .header__menu {
      flex-direction: column;
      padding: 0;
      gap: 30px;
      text-align: center;
    }
    .header__logout {
      padding: 0;
    }
  }
}

.header.open {
  // 모바일 메뉴를 화면 안으로 이동
  .header__mobileNav {
    transform: translateX(0);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  /* 오버플로우 방지 */
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    // 기존 데스크톱 메뉴와 로그아웃 버튼 숨기기
    &__menu,
    &__logout {
      display: none;
    }

    &__info {
      flex: 1;
      justify-content: flex-end;
    }

    // 햄버거 버튼 보이기
    &__hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 15px; // 오른쪽 여백
    }
  }
}
