.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 70px;

  background-color: main.$color-primary;

  padding: 0 16px;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    cursor: pointer;

    &__image {
      display: flex;
      height: 90%;
      filter: invert(1);
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    gap: 10px;

    &__logout {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 60px;
      height: 25px;
      top: 3px;

      font-size: 0.6rem;
      font-weight: 400;

      background-color: main.$color-primary;

      border: 2px solid main.$color-border-white;
      border-radius: 50px;
      gap: 2px;

      cursor: pointer;

      &:hover {
        background-color: main.$color-primary-selected;
      }

      span {
        color: main.$color-text-white;
      }
    }

    &__hello {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 10px;

      color: main.$color-text-white;
      font-weight: 500;

      &__name {
        font-weight: 700;
      }
    }
  }
}
