$color-primary: #482f11; // 따뜻한 샌드 오렌지 (헤더, 주요 배경, 로고 등)
$color-secondary: #2a9d8f; // 시원한 청록색 (강조 요소, 아이콘, 보조 배경)

$color-primary-selected: #867a6d;

$color-accent: #e76f51; // 따뜻한 코럴 (포인트 요소, 링크, 작은 버튼)

$color-button: #2a9d8f; // 깊은 청회색 (기본 버튼 배경)
$color-button-emphasis: #ffffff; // 따뜻한 코럴 (강조 버튼 배경, Accent와 동일)

$color-background: #fdf6f0; // 크림 화이트 (웹사이트 기본 배경)
$color-modal-background: #00000080;

$color-error: #d00000; // 강렬한 레드 (에러 메시지, 경고 표시)
$color-success: #34ffa7; // 청록색 (성공 메시지, Secondary와 동일)

$color-text-white: #ffffff;
$color-text-black: #1a2526;
$color-text-gray: #808080;
$color-text-emphasize: #2a9d8f;

$color-border-white: #ffffff;
$color-border-gray: #808080;
$color-border-black: #1a2526;
